:root {
  --bg-color: #ffffff;
  --text-color: #686868;
  --light-text-color: #8e8e8e;
  --border-color: #d1d5db;
  --tag-bg: #e5e7eb;
  --tag-bg-hover: #c6c7ca;
  --tag-text: #374151;
  --tag-remove-hover: #ec2929;
  --input-focus: #3b82f6;
  --error-color: #ef4444;
  --success-color: #10b981;
}

.dark {
  --bg-color: #1f2937;
  --text-color: #cecccc;
  --light-text-color: #bdbdbd;
  --border-color: #4b5563;
  --tag-bg: #4b5563;
  --tag-bg-hover: #67707d;
  --tag-text: #f9fafb;
  --tag-remove-hover: #f96464;
  --input-focus: #60a5fa;
  --error-color: #f87171;
  --success-color: #34d399;
}
